/* COLORES */
$primary:#E1BEE7;
$secondary:#EDE7F6;
$text-color:#884EA0;

/*ESPACIADOS*/
$large: 6rem;
$medium: 2.4rem;
$small: 2rem;
$xsmall: 1rem;

/* FUENTES */
$font-principal: 'Roboto', 'Barlow','san-serif';
$font-title: 'Roboto   Slab', 'serif';

/* TAMAÑO DE FUENTE*/
$large: 5.2em;
$medium: 2.2em;
$base: 1.6em;
$small: 1.4em;
